/* Melakukan style pada seluruh content page home */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Melakukan style pada seluruh content page home */

/* Root ini berfungsi menyimpan value kedalam variabel dan ketika ingin menggunakannya tinggal melakukan pemanggilan variabelnya dengan diawali var(--nama_variabel--)*/
:root {
  /* Font color */
  --font1--: #ffffff;
  --font2--: #2f1c19;
  --font3--: #000000;
  --font4--: #9ca3af;
  --font5--: #ff0000;
  /* Background color */
  --primary--: #b99470;
  --secondary--: #ffffff;
  --tertiary--: #2f1c19;
  --kuarterner--: #000000;
  --half--: #ababab;
}
/* Root ini berfungsi menyimpan value kedalam variabel dan ketika ingin menggunakannya tinggal melakukan pemanggilan variabelnya dengan diawali var(--nama_variabel--)*/

/* Styleling image carousel area */
/* 1.Melakukan styleling pada tulisan "Shoes Highlights" dan "Image shoes carousel" untuk mengatur jarak content luar dan memunculkan slider left dan right menggunakan "overflow-x"*/
.slide {
  overflow-x: auto;
  margin: 0px 45px 0px 45px;
}

.shoes-text {
  position: sticky;
  left: 0;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.slider-wrapper {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  grid-auto-columns: 30%;
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}

.text-shoes {
  margin-top: 30px;
}

.image-row {
  margin-left: 2px;
  padding: 4px;
  display: flex;
  outline: solid;
  flex-direction: column;
  outline-offset: -3px;
  border-radius: 2%;
}

.image-items {
  padding: 7px 7px 0px 7px;
  border-radius: 5% 5% 0% 0%;
  transition: transform 0.3s ease;
}

.image-items:hover {
  transform: scale(1.02);
}

.count {
  display: flex;
  flex-direction: column;
  padding: 0px 7px;
  font-size: 15px;
  font-weight: 500;
}

.product {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 700;
  padding-top: 5px;
}

.diskon {
  color: var(--font5--);
}

.normal {
  padding-bottom: 5px;
}

/* 6.Melakukan style pada tulisan "Explore this website to add to your experience about Indonesian shoes." */
.quot {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0px 25px 0px;
  font-size: 25px;
  font-weight: 500;
}
/* Styleling image carousel area */

/* Membuat halaman menjadi responsive device tablet area */
@media screen and (max-width: 768px) {
  .slider-wrapper {
    display: flex;
    flex-direction: column;
  }
  .image-row {
    display: block;
  }
  .image-items {
    width: 100%;
  }
  .shoes-text {
    font-size: 25px;
  }
  .quot {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 18px;
  }
}
